/Predicting_Bulldozer_prices/.ipynb_checkpoints
/Predicting_Bulldozer_prices/data
/Predicting_Bulldozer_prices/end-to-end-bulldozer-price-regression-checkpoint.ipynb
/Predicting_heart_disease_using_ML/.ipynb_checkpoints